@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}
.body {
    background: #000915;
    font-family: 'Montserrat', sans-serif;
}
.main {
    padding-left: 120px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;

    &__open {
        padding-top: 217px;
        margin-right: 531px;
        display: flex;
        width: 788px;
        height: 125px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-size: 64px;
        font-weight: 700;
    }
    &__text {
        padding-top: 32px;
        padding-bottom: 44px;
        width: 481px;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px; /* 177.778% */
        &_bold {
            font-weight: 700;
        }
    }
    &__button {
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        width: 234px;
        height: 48px;
        border-radius: 30px;
        background: #9C0332;
        margin-bottom: 494px;
    }
}

.games {
    margin: 128px 120px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // gap: 32px;
}

.game {
    // padding-right: 32px;
    grid-column: span 4;
    display: flex;
    padding-left: 32px;
    align-items: flex-end;
    width: 379px;
    height: 300px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
    border-radius: 16px;
    // display: flex;
    // width: 79px;
    // height: 31.639px;
    // flex-direction: column;
    // justify-content: center;
    &__1 {
        background-image: url(img/game1.png);
        background-repeat: no-repeat;
    }
    &__2 {
        background-image: url(img/game2.png);
        background-repeat: no-repeat;
    }
    &__3 {
        background-image: url(img/game3.png);
        background-repeat: no-repeat;
    }
}
